<div class="panel" id="preview">
    <h3>Preview</h3>
    <div class='content_preview_title'>
        <%= raw content.title %>
    </div>  
    <div class='content_preview_body'>
        <%= raw content.body %>
    </div>
</div>